server:
  port: "8081"
gateway:
  port: "8082"
db:
  host: "172.17.7.210"
  port: "3306"
  user: "root"
  password: "775397252"
  name: "chat_db"

log:
  filename: "logs/chat.log"
  max_size: 100
  max_backups: 5
  max_age: 30
  compress: true
  level: "info"

jwt:
  secret: "your-secret-key"
